<footer class="container-fluid d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
  <div class="col-md-4">
    <p class="mx-4 mb-0 text-body-secondary">© BVA Search</p>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <ul class="nav justify-content-end mx-4">
      <li class="nav-item"><a href="https://www.va.gov/" class="nav-link px-2 text-body-secondary">VA.gov</a></li>
      <li class="nav-item"><a href="https://www.ecfr.gov/current/title-38/chapter-I/part-4/" class="nav-link px-2 text-body-secondary">CFR 38</a></li>
      <li class="nav-item"><a href="https://www.veteransbenefitskb.com/" class="nav-link px-2 text-body-secondary">VBKB</a></li>
      <li class="nav-item"><a href="{% url 'index:about' %}" class="nav-link px-2 text-body-secondary">About</a></li>
      <li class="nav-item"><a href="{% url 'index:contact' %}" class="nav-link px-2 text-body-secondary">Contact</a></li>
      <li class="nav-item"><a href="{% url 'index:privacy' %}" class="nav-link px-2 text-body-secondary">Privacy</a></li>
      <li class="nav-item"><a href="{% url 'index:terms' %}" class="nav-link px-2 text-body-secondary">Terms</a></li>
    </ul>
  </div>
</footer>