{% extends "index/base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
  <div class="container bg-body text-body">
    <h1>Contact</h1>
    <form method="post">
      {% csrf_token %}
      <label for="id_name">Name:</label>
      <input type="text" name="name" maxlength="100" required id="id_name" class="form-control">
      <label for="id_email">Email:</label>
      <input type="email" name="email" maxlength="254" required id="id_email" class="form-control">
      <label for="id_message">Message:</label>
      <textarea name="message" cols="40" rows="10" required id="id_message" class="form-control"></textarea>
      <input type="submit" value="Submit" class="btn btn-primary">
      <input type="reset" value="Reset" class="btn btn-secondary">
    </form>
  </div>
{% endblock %}