{% extends "decisions/base.html" %}

{% block title %}{{ decision.pk }}{% endblock %}

{% block extra_head %}
  <style>
    body {
      font-size: 1.1rem;
      line-height: 1.6;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container my-5">
    <div class="row my-5">
      <div class="col-10 mx-auto">
        {% include "decisions/components/search_form.html" %}
      </div>
    </div>
    <div class="row my-5">
      <div class="col-10 mx-auto">
        {{ decision.text|linebreaks }}
      </div>
    </div>
  </div>
{% endblock %}