{% extends "decisions/base.html" %}
{% load humanize %}

{% block title %}Search{% endblock %}

{% block content %}
  <div class="container bg-body text-body">
    <div class="row my-5">
      <div class="p-5 text-center rounded-3">
        <h1 class="text-body-emphasis">BVA Search</h1>
        <p class="lead">
          Search Board of Veterans' Appeals Decisions
        </p>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-8 mx-auto">
        {% include "decisions/components/search_form.html" %}
      </div>
    </div>
    <div class="row my-5">
      <div class="col-8 mx-auto">
        <p class="text-center">{{ decision_count|intcomma }} Decisions as of {{ latest_date }}</p>
      </div>
    </div>
  </div>
{% endblock %}